<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Seleccione archivos</h3>
            <div
                appNgDropFiles
                [archivos]="archivos"
                [ngClass]="{'file-over': estaSobreElemento}"
                (mouseSobre)="estaSobreElemento=$event"
                class="well drop-zone"
            >
                <h4>Deje caer aqui los archivos</h4>
                <img src="assets/drop-images.png" alt="" />
            </div>
        </div>
        <div class="col-md-8">
            <h4>Cargar archivos</h4>
            <button
                (click)="cargarImagenes()"
                [disabled]="archivos.length === 0"
                type="button"
                class="btn btn-success btn-sm p-2 m-1"
            >
                <i class="fas fa-save"></i>
                Cargar a Firebase
            </button>
            <button
                (click)="limpiarArchivos()"
                type="button"
                class="btn btn-danger btn-sm p-2 m-1"
            >
                <i class="fas fa-trash"></i>
                Limpiar
            </button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre del archivo</th>
                        <th scope="col">Tamaño</th>
                        <th scope="col">Progreso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let archivo of archivos">
                        <th
                            [ngClass]="{'text-green':archivo.progreso >=100}"
                            scope="row"
                        >
                            {{archivo.nombreArchivo}}
                        </th>
                        <td>
                            {{archivo.archivo.size /1024/1024 | number:'.2-2'}}
                            MB
                        </td>
                        <td>
                            <div class="progress">
                                <div
                                    class="progress-bar"
                                    role="progressbar"
                                    [ngStyle]="{'width':archivo.progreso + '%'}"
                                ></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
